
<ul class="comments">
   <% Comment.all.each do |comment| %>
    <% if comment.status_id == status.id %>
        <li>  
    	  <span class="content">
    	  	<%= comment.content %>
    	  </span>
          <span class="delete">  
             <% if current_user?(status.user) %>
                <%= link_to "Delete", comment, method: :delete,
                                          data: { confirm: "You sure?" } %>
             <% end %>
          </span> 
    	  <span>
    	  	<%= time_ago_in_words(comment.created_at) %> ago.
    	  </span>	 
    	  <span class="timestamp">
    	    <i> by: <%= link_to comment.user.name, comment.user %></i>   
    	  </span>
           
    	 </li> 
         
    <% end %>

  <% end %>
  <%= will_paginate Comment.paginate(page: params[:page]) %>
</ul>

