<%= form_for(@status) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_field  :title, placeholder: "compose new title..." %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new status..." %>
  </div>
  <div class="poststatus">
  	<%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>